<div class="flex items-center justify-center h-screen bg-white-200">
  <div class="w-full max-w-2xl p-10 bg-white-300 ">

    <div class="space-y-4">

      <div class="flex items-center gap-4">
        <label class="w-24 text-right">คำถาม</label>
        <input type="text" class="flex-1 px-3 py-1 border border-black bg-white-100">
      </div>

      <div class="flex items-center gap-4" *ngFor="let i of [1,2,3,4]">
        <label class="w-24 text-right">คำตอบ {{ i }}</label>
        <input type="text" class="flex-1 px-3 py-1 border border-black bg-white-100">
      </div>

      <div class="flex justify-center gap-4 pt-6">
        <button class="px-6 py-1 text-white bg-blue-600 rounded">บันทึก</button>
        <button (click)="backToStart()" class="px-6 py-1 text-white bg-red-600 rounded">ยกเลิก</button>
      </div>

    </div>

  </div>
</div>